<footer class="footer bg-dark">
	<div class="container my-3 text-left footer-links">
		<ul>
			<li><a class="text-white" href="{{ route('/legal') }}">Legal</a></li>
		</ul>
	</div>
</footer>
{{ schema({
		"@type": "Organization",
		"name": "Internet Quality",
		"email": "contact(at)internet-quality.org",
}) }}
{{ schema({
		"@type": "WebSite",
		"name": "Internet Quality website",
		"sameAs": [
			"https://keybase.io/internetquality",
			"https://twitter.com/InternetQaOrg",
			"https://github.com/internet-quality-bot",
			"https://github.com/internet-quality",
		],
		"copyrightYear": 2020,
		"url": "https://internet-quality.org/",
}) }}