<footer class="footer">
	<div class="container text-center">
        {% trans %}The web does not just connect machines, it connects people. - Tim Berners-Lee{% endtrans %}
        <br>
        {% trans %}You affect the world by what you browse. - Tim Berners-Lee{% endtrans %}
	</div>
</footer>
