<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ route('/') }}">
		<img src="{{ asset('assets/logo.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="Internet quality logo">
		Internet quality
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% notes %}Toggle navigation menu{% endtrans %}">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ route('/') }}">{% trans %}Homepage{% notes %}Homepage navbar item{% endtrans %}
					<span class="sr-only">{% trans %}(current){% notes %}Current active tab{% endtrans %}</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ route('/websites') }}">{% trans %}Websites{% notes %}Websites navbar item{% endtrans %}</a>
			</li>
		</ul>
	</div>
</nav>
