<!doctype html>
<html lang="fr">
  <head>
    <title>{% block title %}Internet quality{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="robots" content="index, follow, noarchive, noimageindex" />
    <link rel="alternate" hreflang="x-default" href="{{ raw_route('/') }}" />
    {% for languageCode in language_codes() %}
    {#  #}<link rel="alternate" hreflang="{{ languageCode }}" href="{{ raw_route('/' ~ languageCode ~ '/index') }}" />
    {% endfor %}
    {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.0.45/css/materialdesignicons.min.css" integrity="sha256-nRyVCcVDSlWN9d68r9M+rKBLE4k9Cp1j3XSY/umjvvU=" crossorigin="anonymous" />
    {% endblock %}
    <style type="text/css">
        body {
          min-height: 100vh;
          position: relative;
          margin: 0;
        }

        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      </style>
    {% include "common/head.twig" %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    {% include "common/foot.twig" %}
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>