{% extends 'basic.twig' %}
{% block title %}Homepage | {{ parent() }}{% endblock %}
{% block body %}
    <div class="col-md-12 mt-4">
        <div class="jumbotron">
            <h1 class="display-4">{% trans %}Make Internet great again !{% endtrans %}</h1>
        </div>
    </div>
{% endblock %}