{% extends 'basic.twig' %}
{% block title %}404 | {{ parent() }}{% endblock %}
{% block body %}
    <div class="col-md-12 mt-4">
        <h1>The page you requested could not be found</h1>
    </div>
{% endblock %}
