{% extends 'basic.twig' %}
{% block title %}Websites | {{ parent() }}{% endblock %}
{% block body %}
    <div class="col-md-12 mt-4">
        <div class="jumbotron">
            <h1 class="display-6">A list of the websites that have bad/dangerous practices</h1>
        </div>
    </div>
{% endblock %}
