{% extends 'basic.twig' %}
{% block title %}Websites | {{ parent() }}{% endblock %}
{% block body %}
	<div class="col-md-12 mt-4">
		<div class="jumbotron">
			<h1 class="display-6">A list of the websites</h1>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Url</th>
					<th scope="col">Creation date</th>
				</tr>
			</thead>
			<tbody>
                {% set i = 1 %}
                {% for website in websites %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ website.url }}</td>
                        <td>{{ website.created_at }}</td>
                    </tr>
                {% set i = i + 1 %}
                {% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
